*.log
*.jou
*.aux
*.bbl
*.blg
*.backup
*.qdb
*.qtl
*.qpg
*.out
.directory
_info
vsim.wlf
vivado_pid*.str
*~
hardware/vivado*/pynq_caesar/*/
!hardware/vivado*/pynq_caesar/
!hardware/vivado*/pynq_caesar/src/
!hardware/vivado*/pynq_caesar/makefile
caesar_hw_2.0/software/aeadtvgen/aeadtvgen.egg-info/
caesar_hw_2.0/software/aeadtvgen/build/
hardware/vivado-2017.2/pynq_caesar/path
__pycache__
