backports.functools-lru-cache==1.5
configparser==4.0.2
cycler==0.10.0
kiwisolver==1.1.0
matplotlib==2.2.4
numpy==1.16.5
pycrypto==2.6.1
pyparsing==2.4.2
pyserial==3.4
python-dateutil==2.8.0
pytz==2019.3
scipy==1.2.2
six==1.12.0
subprocess32==3.5.4
