#############################################################################
#                                                                           #
#   Copyright 2019 CERG                                                     #
#                                                                           #
#   Licensed under the Apache License, Version 2.0 (the "License");         #
#   you may not use this file except in compliance with the License.        #
#   You may obtain a copy of the License at                                 #
#                                                                           #
#       http://www.apache.org/licenses/LICENSE-2.0                          #
#                                                                           #
#   Unless required by applicable law or agreed to in writing, software     #
#   distributed under the License is distributed on an "AS IS" BASIS,       #
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.#
#   See the License for the specific language governing permissions and     #
#   limitations under the License.                                          #
#                                                                           #
#############################################################################
#JC
#+----------+----------+----------+----------+
#|          |  din3    |  do_ready|  rst     |
#|          |          |          |          |
#+----------+----------+----------+----------+
#|  din0    |  din2    |  din1    |  do_valid|
#|          |          |          |          |
#+----------+----------+----------+----------+

#JD
#+----------+----------+----------+----------+
#|  dout1   |  dout3   |  di_ready|  clk     |
#|          |          |          |          |
#+----------+----------+----------+----------+
#|  dout0   |  dout2   |  di_valid|          |
#|          |          |          |          |
#+----------+----------+----------+----------+
# ===================== Data out to DUT  =================================== 
NET "din<3>"   LOC = "K6"  |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L45N_M3ODT,                     Sch name = JC3
NET "din<2>"   LOC = "J6"  |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L47N_M3A1,                      Sch name = JC9
NET "din<1>"   LOC = "J7"  |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L46P_M3CLK,                     Sch name = JC4
NET "din<0>"   LOC = "F2"  |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L48P_M3BA0,                     Sch name = JC10
# ===================== Data in from DUT ===================================
NET "dout<0>"  LOC = "E12" |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L51N,                           Sch name = JD10
NET "dout<1>"  LOC = "E11" |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L42N,                           Sch name = JD4
NET "dout<2>"  LOC = "F12" |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L51P,                           Sch name = JD9
NET "dout<3>"  LOC = "F11" |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L42P,                           Sch name = JD3
# ===================== CONTROL SIGNALS ====================================
NET "do_ready"   LOC = "L7"  |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L45P_M3A3,                      Sch name = JC2
NET "do_valid"    LOC = "G1"  |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L47P_M3A0,                      Sch name = JC8
NET "di_ready"   LOC = "F10" |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L40N,                           Sch name = JD2
NET "di_valid"   LOC = "C12" |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L47N,                           Sch name = JD8
NET "clk"       LOC = "G11" |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L40P,                           Sch name = JD1
# ======================== CLOCK SIGNAL ====================================
NET "rst"       LOC = "H3"  |IOSTANDARD = "LVCMOS33";   #Bank = 3, Pin name = IO_L44N_GCLK20_M3A6,               Sch name = JC1
NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
